{% extends "mailing/base.html" %}

{% block content %}
  <h2>Рассылка</h2>
  <p><strong>Начало:</strong> {{ mailing.first_sent_at }}</p>
  <p><strong>Окончание:</strong> {{ mailing.end_sent_at }}</p>
  <p><strong>Статус:</strong> {{ mailing.status }}</p>
  <p><strong>Сообщение:</strong> {{ mailing.message.subject_of_the_letter }}</p>

  <h3>Попытки отправки</h3>
<ul>
  {% for attempt in mailing.trymailing_set.all %}
    <li>
      {{ attempt.attempt_time }} – {{ attempt.status }} ({{ attempt.server_response }})
    </li>
  {% empty %}
    <p>Нет попыток отправки</p>
  {% endfor %}
</ul>

  <a href="{% url 'mailing_list' %}">Назад</a>
{% endblock %}

